<html>
	<head>
		<title> iSurvey </title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		
		<!-- Link to stylesheets -->
		<link rel=stylesheet media=screen type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}" >
		<script src="{{ url_for('static', filename='js/jquery.js') }}"> </script>
		<script src="{{ url_for('static', filename='js/bootstrap.js') }}"> </script>
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"> </script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

	</head>
	
	<div class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{url_for('index')}}">iSurvey</a>
          </div>
          <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
              {% if active == "home" %}
              <li class="active"><a href="{{url_for('index')}}">Home</a></li>
              {% else %}
              <li><a href="{{url_for('index')}}">Home</a></li>
              {% endif %}
              
              {% if active == "example" %}
              <li class="active"><a href="{{url_for('example')}}">Example</a></li>
              {% else %}
              <li><a href="{{url_for('example')}}">Example</a></li>
              {% endif %}

              {% if active == "facebook" %}
              <li class="active"><a href="{{url_for('facebook')}}">FaceBook</a></li>
              {% else %}
              <li><a href="{{url_for('facebook')}}">FaceBook</a></li>
              {% endif %}

              </li>
            </ul>
          </div><!-- /.nav-collapse -->
        </div><!-- /.container -->
      </div>
	{% block content %} 
	
	{% endblock %}

</html>